---
base_url:
nav: Home
---

<div class="hero-unit dive-docs-hero-unit home-hero blue">
  <div class="container">
    <img src="{{ page.base_url }}img/DiVE_redo.svg" alt="DiVE Logo" class="hero-logo">
    <p class="lead">DiVE Library is an interactive repository for standard design solutions to basic user interface challenges, designed to be used by project teams, ecternal agencies and consultancies working on PMI intenral Web sites and applications.</p>

    <a href="#start-now" class="btn btn-primary btn-large">Start Now</a>
  </div>
</div>

<div class="container main-container">

  <div class="row">
    <div class="col-sm-6">

      <h2>Useful Elements</h2>

      <p>DiVE Library contains a large number of <a href="{{ page.base_url }}browsing/">components</a>, <a href="{{ page.base_url }}graphic-assets/">PMI icons</a> and useful <a href="{{ page.base_url }}examples/">examples</a>, which streamline your work when desiging digital experience.</p>

      <p>Be pragmatic, focus on your time to market, use DiVE Library to get started.</p>

      <!-- <a href="{{ page.base_url}}examples/everything/" class="btn btn-large btn-primary">DiVE Overview <i class="icon icon-chevron-right"></i></a>  -->

    </div>
    <div class="col-sm-6 dive-docs-home-everything">
      <a href="{{ page.base_url}}everything/" class="overlay-img">
        <i class="icon icon-eye"></i>
      </a>
      <img src="{{ page.base_url }}img/DiVE_site_elements.jpg" alt="DiVE site elements">
    </div>
  </div>


<hr class="soften">


  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-3"><img src="{{ page.base_url }}img/dive-home-icons/1.png" alt=""></div>
        <div class="col-xs-10 col-sm-8 col-md-9">
          <h2>Components &amp; Examples</h2>
          <p>A lot of elements for interactive interfaces are available. Meaningful examples are also there to help you.</p>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-3"><img src="{{ page.base_url }}img/dive-home-icons/2.png" alt=""></div>
        <div class="col-xs-10 col-sm-8 col-md-9">
          <h2>Built with HTML5</h2>
          <p>Behind the surface, takes advantage of HTML5 technologies. It's a powerful and reliable source for front-end developer.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-3"><img src="{{ page.base_url }}img/dive-home-icons/3.png" alt=""></div>
        <div class="col-xs-10 col-sm-8 col-md-9">
          <h2>Responsive Design</h2>
          <p>Think convergence, support your end user devices (small to large).</p>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-3"><img src="{{ page.base_url }}img/dive-home-icons/4.png" alt=""></div>
        <div class="col-xs-10 col-sm-8 col-md-9">
          <h2>Design Faster</h2>
          <p>Do not reinvent the wheel: be creative, use the standards to illustrate your ideas, not wasting time rebuilding the basics.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-3"><img src="{{ page.base_url }}img/dive-home-icons/5.png" alt=""></div>
        <div class="col-xs-10 col-sm-8 col-md-9">
          <h2>Light Coding</h2>
          <p>Based on HTML5 &amp; CSS3 best practices, the framework in only a few kilobytes.</p>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-3"><img src="{{ page.base_url }}img/dive-home-icons/6.png" alt=""></div>
        <div class="col-xs-10 col-sm-8 col-md-9">
          <h2>Design on the Grid</h2>
          <p>The grid enables a clear visual structure for pixel perfect design!</p>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-3"><img src="{{ page.base_url }}img/dive-home-icons/7.png" alt=""></div>
        <div class="col-xs-10 col-sm-8 col-md-9">
          <h2>Harmony</h2>
          <p>PMI digital identity is harmoniously applied to the components.</p>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-3"><img src="{{ page.base_url }}img/dive-home-icons/8.png" alt=""></div>
        <div class="col-xs-10 col-sm-8 col-md-9">
          <h2>DiVE icons as Web Font</h2>
          <p>Using latest technics, using DiVE icons as never been that easy.</p>
        </div>
      </div>
    </div>
  </div>


<hr class="soften">

  <h2>Responsive Design</h2>
  <p>No need for extra lines of code to support various end- user devices. DiVE Library layout handles that perfectly!</p>
  <img src="{{ page.base_url }}img/DiVE_site_responsive.png" alt="DiVE is responsive by default!">

<hr class="soften">

  <h2>HTML5 based</h2>
  <div class="row">
    <div class="col-sm-9">
      <p>The DiVE library leverages the most recent Web technologies, which are readily available in modern browsers – namely HTML5, CSS3 and Javascript. </p>
      <p>If you need guidance on how those technologies should be used in your Web application, you are advised to consult the <a href="http://html5.app.pmi/">HTML5 development guidelines site </a>.</p>
      <p>Those guidelines present the features that can be used safely in order to build modern, attractive, performing and truly multi-platform Web applications.</p>
    </div>
    <div class="col-sm-3">
      <img src="{{ page.base_url }}img/html5.svg" alt="HTML5">
    </div>
  </div>


<hr class="soften">

  <h2 id="start-now" class="text-center">Start using DiVE Library now!</h2>
  <h4 class="text-center"><small>There are various ways to use the library</small></h4>

  <div class="row dive-docs-home-gs">
    <div class="
      col-xs-6
      col-sm-5   col-sm-offset-1
      col-md-4   col-md-offset-2
      col-lg-3   col-lg-offset-3
      text-right
    ">
      <h3>Get the Package</h3>
      <p>Follow the basic instructions and download the DiVE Library for instant coding.</p>
      <a href="{{ page.base_url }}{{ site.dive-boilerplate }}" class="btn btn-large btn-secondary">Download ZIP</a>
    </div>
    <div class="
      col-xs-6
      col-sm-5
      col-md-4
      col-lg-3
    ">
      <h3>Explore the Docs</h3>
      <p>Browse through the extensive list of components and examples of the library. Get the rational right!</p>
      <a href="{{ page.base_url }}browsing/" class="btn btn-primary btn-large">Explore!</a>
    </div>
  </div>

</div>