---
base_url:
nav: Home
title: DiVE Library - Welcome
---

<div class="hero-unit dive-docs-hero-unit home-hero blue">
  <div class="container">
    <img src="{{ page.base_url }}img/dive-docs-img/DiVE_redo.svg" alt="DiVE Logo" class="hero-logo">
    <p class="lead">DiVE Library is an interactive repository to help visual & interactions designers and front-end developpers, to design and build user interfaces following PMI standards.</p>

    <a href="#start-now" class="btn btn-primary btn-large">Start Now</a>
  </div>
</div>

<div class="container main-container">

  <div class="row">
    <div class="col-sm-6">

      <h2>A collection of interactive components</h2>

      <p>DiVE Library contains a large number of components, like <a href="{{ page.base_url }}buttons">buttons</a>, the <a href="{{ page.base_url }}graphic-assets/">PMI icons</a> and some very useful <a href="{{ page.base_url }}examples/">examples</a>, which streamline your work when desiging digital experience.</p>

      <p>Be pragmatic, focus on your time to market, use DiVE Library for your design inspiration or as a toolbox for your front-end development.</p>
      <!-- <a href="{{ page.base_url}}examples/everything/" class="btn btn-large btn-primary">DiVE Overview <i class="icon icon-chevron-right"></i></a>  -->
      
      <p>Everything in this library is following the principles and guidelines (the DiVE framework) built for you by the <strong><a href="http://workpoint.pmiapps.biz/references/WIKI2/UXD/Pages/Site/About/ContactUs.aspx" target="_blank">PMI UXD Team</a>.</strong>.</p>
      
    </div>
    <div class="col-sm-6 dive-docs-home-everything">
      <a href="{{ page.base_url}}everything/" class="overlay-img">
        <i class="icon icon-eye"></i>
      </a>
      <img src="{{ page.base_url }}img/dive-docs-img/DiVE_site_elements.jpg" alt="">
    </div>
  </div>



<hr class="soften">


  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-3"><img src="{{ page.base_url }}img/dive-docs-img/dive-home-icons/1.png" alt=""></div>
        <div class="col-xs-10 col-sm-8 col-md-9">
          <h2>Components </h2>
          <p>All the interactive elements used to build your application or website are available in the library.</p>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-3"><img src="{{ page.base_url }}img/dive-docs-img/dive-home-icons/2.png" alt=""></div>
        <div class="col-xs-10 col-sm-8 col-md-9">
          <h2>Built with HTML5</h2>
          <p>Behind the surface, the library takes advantage of HTML5 technologies. It's a powerful and reliable source for front-end developer.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-3"><img src="{{ page.base_url }}img/dive-docs-img/dive-home-icons/3.png" alt=""></div>
        <div class="col-xs-10 col-sm-8 col-md-9">
          <h2>Responsive Design</h2>
          <p>Think convergence, support your end user devices (from small to large screen sizes) with only one piece of code.</p>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-3"><img src="{{ page.base_url }}img/dive-docs-img/dive-home-icons/4.png" alt=""></div>
        <div class="col-xs-10 col-sm-8 col-md-9">
          <h2>Design Faster</h2>
          <p>Do not reinvent the wheel: be creative, use <a href="{{ page.base_url}}examples/">examples as standards</a> to illustrate your ideas, not wasting time rebuilding the basics.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-3"><img src="{{ page.base_url }}img/dive-docs-img/dive-home-icons/5.png" alt=""></div>
        <div class="col-xs-10 col-sm-8 col-md-9">
          <h2>Light Coding</h2>
          <p>Based on HTML5 &amp; CSS3 best practices, the framework in only a few kilobytes.</p>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-3"><img src="{{ page.base_url }}img/dive-docs-img/dive-home-icons/6.png" alt=""></div>
        <div class="col-xs-10 col-sm-8 col-md-9">
          <h2>Design on the Grid</h2>
          <p>The <a href="{{ page.base_url}}layouts/">DIVE grid</a> enables a clear and powerfull visual structure for creative pixel perfect layouts!</p>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-3"><img src="{{ page.base_url }}img/dive-docs-img/dive-home-icons/7.png" alt=""></div>
        <div class="col-xs-10 col-sm-8 col-md-9">
          <h2>Brand harmony</h2>
          <p>PMI digital identity is harmoniously applied to the components. Do not stress about color usage anymore.</p>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-3"><img src="{{ page.base_url }}img/dive-docs-img/dive-home-icons/8.png" alt=""></div>
        <div class="col-xs-10 col-sm-8 col-md-9">
          <h2>DiVE icons as Web Font</h2>
          <p>Based on latest technics, using <a href="{{ page.base_url }}graphic-assets/">DiVE icons</a> has never been that easy.</p>
        </div>
      </div>
    </div>
  </div>


<hr class="soften">

  <h2>Responsive Design</h2>
  <p>No need for extra lines of code to support various end-user devices. DiVE Library layout handles that perfectly!</p>
  <img src="{{ page.base_url }}img/dive-docs-img/DiVE_Site_Responsive.png" alt="DiVE is responsive by default!">

<hr class="soften">

  <h2>HTML5 based</h2>
  <div class="row">
    <div class="col-sm-9">
      <p>The DiVE library leverages the most recent Web technologies, which are readily available in modern browsers – namely HTML5, CSS3 and Javascript. </p>
      <p>If you need guidance on how those technologies should be used in your Web application, please <a href="http://dive.app.pmi/HTML5/" target="_blank">visit HTML5 development guidelines site</a>.</p>
      <p>Those guidelines present the features that can be used safely in order to build modern, attractive, performing and truly multi-platform Web applications.</p>
    </div>
    <div class="col-sm-3">
      <img src="{{ page.base_url }}img/dive-docs-img/html5.svg" alt="HTML5">
    </div>
  </div>


<hr class="soften">

  <h2 id="start-now" class="text-center">Start using DiVE Library now!</h2>
  <h4 class="text-center"><small>There are various ways to use the library</small></h4>

  <div class="row dive-docs-home-gs">
    <div class="
      col-xs-6
      col-sm-5   col-sm-offset-1
      col-md-4   col-md-offset-2
      col-lg-3   col-lg-offset-3
      text-right
    ">
      <h3>Start with the boilerplate</h3>
      <p>Follow the basic instructions and download the DiVE Library elements for instant coding.</p><br>
      <a href="DiVE-boilerplate.zip" class="btn btn-large btn-secondary">Download ZIP</a>
    </div>
    <div class="
      col-xs-6
      col-sm-5
      col-md-4
      col-lg-3
    ">
      <h3>Explore</h3>
      <p>Look at the basic principles then start browsing through the extensive list of components and examples of the library. Get the rational right!</p>
      <a href="{{ page.base_url }}browsing/" class="btn btn-primary btn-large">Explore the library!</a>
    </div>
  </div>

</div>