<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
{{#if page.title }}
<title>{{ page.title }}</title>
{{else}}
<title>DiVE Library</title>
{{/if}}

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" type="image/x-icon" href="{{ page.base_url }}favicon.ico">
<link rel="shortcut icon" type="image/x-icon" href="{{ page.base_url }}favicon.ico">

<!-- build:css(.tmp) {{ page.base_url }}css/dive.css -->
<link rel="stylesheet" href="/css/dive.css">
<!-- endbuild -->

<!-- build:css(.tmp) {{ page.base_url }}css/dive_doc.css -->
<link rel="stylesheet" href="/css/dive-doc.css">
<!-- endbuild -->

<!-- build:js(<%= yeoman.app %>) {{ page.base_url }}js/jquery.js -->
<script type="text/javascript"  src="/_bower_components/jquery/dist/jquery.js"></script>
<!-- endbuild -->
