<!-- Examples
================================================== -->
<section id="examples">

  <h1>Built with DiVE Library</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et enim non leo congue vestibulum id quis est. Sed at velit mi. In hac habitasse platea dictumst. Sed venenatis egestas nibh, vel consequat turpis dapibus et. Aliquam nisl quam, tincidunt vel feugiat eu, molestie quis velit. Phasellus elementum convallis augue nec ullamcorper. Fusce tellus eros, facilisis et convallis vitae, tincidunt eget mauris. Praesent ac est lorem. Fusce id placerat neque. Sed risus lectus, bibendum et elementum rutrum, mattis vitae nisl. Aenean et nibh nunc. Integer euismod nisi nec dolor facilisis ac viverra velit venenatis. Vivamus condimentum bibendum nibh ac suscipit.</p>


  <h1>Page Templates</h1>

  <div class="row">
    <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
      <a class="thumbnail" href="{{ page.base_url }}examples/hero/">
        <img src="{{ page.base_url }}img/examples/bootstrap-example-marketing.png" alt="">
      </a>
      <h4>Grid-based Sample Page</h4>
      <p>Featuring a hero unit for a primary message and three supporting elements.</p>
    </div>

    <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
      <a class="thumbnail" href="{{ page.base_url }}examples/masonry/">
        <img src="{{ page.base_url }}img/examples/ex-masonry.png" alt="">
      </a>
      <h4>Masonry-based Sample Page</h4>
      <p>Masonry Pinterest-like layout for more structured content.</p>
    </div>

  </div>


  <h1>Behavior Patterns</h1>

  <div class="row">

    <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
      <a class="thumbnail" href="{{ page.base_url }}examples/signin/">
        <img src="{{ page.base_url }}img/examples/ex-signin.png" alt="">
      </a>
      <h4>Sign in</h4>
      <p>Barebones sign in form with custom, larger form controls and a flexible layout.</p>
    </div>

    <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
      <a class="thumbnail" href="{{ page.base_url }}examples/basic-form/">
        <img src="{{ page.base_url }}img/examples/ex-basic-form.png" alt="">
      </a>
      <h4>Form Example</h4>
      <p>A comprehensive example of a form with a number of different input types.</p>
    </div>

    <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
      <a class="thumbnail" href="{{ page.base_url }}examples/approve-reject/">
        <img src="{{ page.base_url }}img/examples/ex-approve-reject.png" alt="">
      </a>
      <h4>Approve and Reject</h4>
      <p>Using button to components to create approve and reject buttons.</p>
    </div>




  </div>



  </div>
</section>