<!-- Examples
================================================== -->
<section id="examples">
  <div class="page-header">
	  <h1>Page Templates</h1>
  </div>

  <div class="row">

    <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
      <a target="_blank"  class="thumbnail" href="{{ page.base_url }}examples/hero/">
        <img src="{{ page.base_url }}img/dive-docs-img/examples/ex-example-marketing.png" alt="">
      </a>
      <h4>BASIC HOME PAGE</h4>
      <p>With a large hero unit and simple content block, this is a simple way to share your high level messages.</p>
    </div>

    <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
      <a target="_blank"  class="thumbnail" href="{{ page.base_url }}examples/masonry/">
        <img src="{{ page.base_url }}img/dive-docs-img/examples/ex-masonry.png" alt="">
      </a>
      <h4>DYNAMIC GRID LAYOUT</h4>
      <p>A Pinterest like page to convey a dynamic feeling to your content.</p>
    </div>

   <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
      <a target="_blank"  class="thumbnail" href="{{ page.base_url }}examples/3column/">
        <img src="{{ page.base_url }}img/dive-docs-img/examples/ex-3-column-responsive.jpg" alt="">
      </a>
      <h4>3 COLUMN LAYOUT</h4>
      <p>A layout made of 3 responsive column who adapt their visibility and appearence, according to device width.</p>
    </div>



  </div>


  <div class="page-header">
 	 <h1>Behavior Patterns</h1>
  </div>

  <div class="row">

    <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
      <a target="_blank"  class="thumbnail" href="{{ page.base_url }}examples/signin/">
        <img src="{{ page.base_url }}img/dive-docs-img/examples/ex-signin.png" alt="">
      </a>
      <h4>SIGNIN</h4>
      <p>Engage your user starts with a clean and smart Sign in dialogue.</p>
    </div>

    <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
      <a target="_blank"  class="thumbnail" href="{{ page.base_url }}examples/basic-form/">
        <img src="{{ page.base_url }}img/dive-docs-img/examples/ex-basic-form.png" alt="">
      </a>
      <h4>FORM EXAMPLE</h4>
      <p>A comprehensive example of a form with a number of different input types.</p>
    </div>

    <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
      <a target="_blank"  class="thumbnail" href="{{ page.base_url }}examples/approve-reject/">
        <img src="{{ page.base_url }}img/dive-docs-img/examples/ex-approve-reject.png" alt="">
      </a>
      <h4>APPROVE/REJECT</h4>
      <p>Make it clear what is expected: Approve or Reject?</p>
    </div>




  <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
    <a target="_blank" class="thumbnail" href="{{ page.base_url }}examples/advanced-search/">
        <img src="{{ page.base_url }}img/dive-docs-img/examples/ex-advanced-search.jpg" alt="">
      </a>
      <h4>ADVANCED SEARCH</h4>
      <p>Combine filter, specify type of results: this is an advanced search.</p>
    </div>


      <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
    <a target="_blank" class="thumbnail" href="{{ page.base_url }}examples/user-info/">
        <img src="{{ page.base_url }}img/dive-docs-img/examples/ex-step-form.jpg" alt="">
      </a>
      <h4>USER INFORMATION</h4>
      <p>Experience this step by step pattern to gather end user basic information.</p>
    </div>


  </div>



      <div class="page-header">
 	<h1>Built with DiVE Library</h1>

<div class="row">
      <div class="col-xs-12">
      	<h4 class="muted">In this section, we will highlight the applications designed using DiVE Library.</h4>
      </div>

  </div></div>





</section>