<!-- Examples
================================================== -->
<section id="examples">
  <div class="page-header">
	  <h1>Page Templates</h1>
  </div>

  <div class="row">

    <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
      <a class="thumbnail" href="{{ page.base_url }}examples/hero/">
        <img src="{{ page.base_url }}img/dive-docs-img/examples/bootstrap-example-marketing.png" alt="">
      </a>
      <h4>Grid-based Sample Page</h4>
      <p>Featuring a hero unit for a primary message and three supporting elements.</p>
    </div>

    <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
      <a class="thumbnail" href="{{ page.base_url }}examples/masonry/">
        <img src="{{ page.base_url }}img/dive-docs-img/examples/ex-masonry.png" alt="">
      </a>
      <h4>Masonry-based Sample Page</h4>
      <p>Masonry Pinterest-like layout for more structured content.</p>
    </div>

  </div>


  <div class="page-header">
 	 <h1>Behavior Patterns</h1>
  </div>

  <div class="row">

    <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
      <a class="thumbnail" href="{{ page.base_url }}examples/signin/">
        <img src="{{ page.base_url }}img/dive-docs-img/examples/ex-signin.png" alt="">
      </a>
      <h4>Sign in</h4>
      <p>Barebones sign in form with custom, larger form controls and a flexible layout.</p>
    </div>

    <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
      <a class="thumbnail" href="{{ page.base_url }}examples/basic-form/">
        <img src="{{ page.base_url }}img/dive-docs-img/examples/ex-basic-form.png" alt="">
      </a>
      <h4>Form Example</h4>
      <p>A comprehensive example of a form with a number of different input types.</p>
    </div>

    <div class="col-xs-6 col-md-4 col-lg-3 dive-docs-example-thumb">
      <a class="thumbnail" href="{{ page.base_url }}examples/approve-reject/">
        <img src="{{ page.base_url }}img/dive-docs-img/examples/ex-approve-reject.png" alt="">
      </a>
      <h4>Approve and Reject</h4>
      <p>Using button to components to create approve and reject buttons.</p>
    </div>

  </div>

  <div class="page-header">
    <h1>Built with DiVE Library</h1>
  </div>

  <div class="row">

      <div class="col-xs-12">
      	<h4 class="muted">In this section, we will highlight the applications designed using DiVE Library.</h4>
      </div>

  </div>

</section>